.pricing__section {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 876px) {
  .pricing__section {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }
}
