.stories__header-container {
  background: url("../../assets/stories/desktop/moon-of-appalacia.jpg")
    rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  height: 650px;

  color: var(--color-white);

  padding: 122px 112px;
}
.stories__header-container:hover {
  background: url("../../assets/stories/desktop/moon-of-appalacia.jpg"),
    radial-gradient(
      68.48% 68.48% at 0 100%,
      rgba(239, 195, 148, 0.9),
      rgba(188, 113, 152, 0.55) 52.36%,
      rgba(90, 119, 255, 0.3) 100%
    );

  background-blend-mode: multiply;
}
.stories__header {
  width: 387px;
  height: 406px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stories__featured-tag {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.stories__featured-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.16667px;
}

.stories__featured-info {
  font-size: 13px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.75);
}

.stories__featured-author {
  color: var(--color-white);
}

.stories__featured-text {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}

.stories__featured-link {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.stories__featured-link-span:hover {
  border-bottom: 1px solid var(--color-white);
}
