.row-reverse {
  flex-direction: row-reverse;
}

.font-white {
  color: var(--color-white);
}

.font-black {
  color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.home__content {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__content-first {
  color: var(--color-white);
  padding: 0 95px;
  border-width: 0 0 0 0.375rem;
  border-style: solid;
  border-image: var(--color-accent) 1 100%;
}

.home__content-second {
  color: var(--color-black);
  padding: 0 95px;
}

.home__content-header {
  text-transform: uppercase;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.17px;
}

.home__content-paragraph {
  opacity: 0.6;
  margin-bottom: 48px;
  font-size: 15px;
  line-height: 25px;
}

.home__content-link {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
}

.home__link-span {
  margin-right: 1.75rem;
}

.home__link-span1:hover {
  border-bottom: 1px solid var(--color-white);
}

.home__link-span2:hover {
  border-bottom: 1px solid var(--color-black);
}

.home__img-container {
  width: 2130px;
}

.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.createnshare {
  background: url("../../assets/home/desktop/create-and-share.jpg") no-repeat
    center;
  height: 650px;
}
.beautifulstories {
  background: url("../../assets/home/desktop/beautiful-stories.jpg") no-repeat
    center;
  height: 600px;
}
.desgin4everyone {
  background: url("../../assets/home/desktop/designed-for-everyone.jpg")
    no-repeat center;
  height: 600px;
}

@media only screen and (max-width: 800px) {
  .home__content-first {
    padding: 0 54px;
  }

  .home__content-second {
    padding: 0 54px;
  }

  .home__img-container {
    width: 100%;
  }

  .createnshare {
    background: url("../../assets/home/tablet/create-and-share.jpg") no-repeat
      center;
    background-size: cover;
  }
  .beautifulstories {
    background: url("../../assets/home/tablet/beautiful-stories.jpg") no-repeat
      center;
    background-size: cover;
  }
  .desgin4everyone {
    background: url("../../assets/home/tablet/designed-for-everyone.jpg")
      no-repeat center;
    background-size: cover;
  }
}

@media only screen and (max-width: 650px) {
  .createnshare {
    background: url("../../assets/home/mobile/create-and-share.jpg") no-repeat
      center;
  }
  .beautifulstories {
    background: url("../../assets/home/mobile/beautiful-stories.jpg") no-repeat
      center;
  }
  .desgin4everyone {
    background: url("../../assets/home/mobile/designed-for-everyone.jpg")
      no-repeat center;
  }
}
