body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-grey: #dfdfdf;
  --color-accent: linear-gradient(
    26.57deg,
    #ffc593 0.42%,
    #bc7198 43.46%,
    #5a77ff 83.33%
  );
}
