* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-white: #fff;
  --color-grey: #dfdfdf;
  --color-black: #000;
  --color-accent: radial-gradient(
    68.48% 68.48% at 0% 100%,
    rgba(255, 197, 147, 0.47) 0%,
    rgba(188, 113, 152, 0.476968) 52.36%,
    rgba(90, 119, 255, 0.0001) 100%
  );
}
