.home__cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .home__cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 650px) {
  .home__cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
