.card-mid {
  width: 350px;
  height: 470px;
  margin: 0 30px;
  background-color: var(--color-black);
  color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.card-initial {
  width: 350px;
  height: 407px;
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 876px) {
  .card-mid {
    width: 689px;
    height: 270px;
  }

  .card-initial {
    width: 689px;
    height: 270px;
  }
}

@media only screen and (max-width: 650px) {
  .card-mid {
    width: 318px;
    height: 407px;
  }

  .card-initial {
    width: 318px;
    height: 407px;
  }
}
